* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

.box {
    display:flex;
    align-items: center;
    justify-content: center;

    font-family: cursive;
    font-size: 1.5rem;

    width: 150px;
    height: 150px;

    background-color: crimson;
    color: white;

}

.box-container {
    background-color: white;
}

.timer {
    display: flex;
    background-color: grey;
    color: white;

    align-items: center;
}